MAIN_DOMAIN=slido.natejsimonsen.com
ADMIN_DOMAIN=admin.natejsimonsen.com
API_PORT=8080
JWT_SECRET=change-me-to-a-long-random-string
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=changeme
DB_PATH=/data/slido.db
